<nav class="navbar top-bar navbar-inverse">

	<div class="container-fluid">
		<div class="navbar-header">

			<a class="navbar-brand" href="{{ path_for('home') }}">
				<img src="{{ settings.logo }}" srcset="{{ settings.logo2x }} 2x">
			</a>

		</div>
		{% if authentication.check %}



		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="{{ base_url() }}/courses/new" class="btn btn-rounded btn-white">
					<i class="fa fa-video-camera"></i> NewVideo
				</a>
				</li>
			<li>
				<a href="{{ base_url() }}/authentication/signout" class="btn" >Logout</a>
			</li>

		</ul>

		{% endif %}
	</div>
</nav>
{% if authentication.check %}
{% include 'Templates/sidebar-tools.twig' %}
{% endif %}
