{% if authentication.check %}
	<nav class="navbar top-bar">

	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{ path_for('home') }}">
				<img src="{{ settings.logo }}" srcset="{{ settings.logo2x }} 2x">
			</a>
		</div>



		<ul class="nav navbar-nav">
			<li class="made-by">
				Made with <i class="fa fa-coffee"></i> on <a href="http://www.vanhack.com/hackathon/" target="_blank">vanHackthon</a> by <a href="https://github.com/thiagofalencar" target="_blank">@thiagofalencar</a> and <a href="http://hugomedeiros.com" target="_blank">@hugomedeiros</a>
			</li>
		</ul>



		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="{{ base_url() }}/courses/new" class="btn btn-rounded btn-secondary">
					<i class="fa fa-video-camera"></i> New video
				</a>
				</li>
			<li>
				<a href="{{ base_url() }}/authentication/signout" class="btn" >Logout</a>
			</li>

		</ul>

		{% endif %}
	</div>
</nav>
{% if authentication.check %}
{% include 'Templates/sidebar-tools.twig' %}
{% endif %}
